@model InmobiliariaViewModels.Empleados.ReferenciaEmpViewModels
@{
    ViewBag.Title = "Ingresar Referencia del Empleado";
}

<div class="row">
    <div class="col s12 m12 l12">
        <h2 class="blue-text text-darken-1">Ingresar Referencia</h2>
        @using (Html.BeginForm("Create", "ReferenciaEmp", FormMethod.Post))
        {
            <div class="input-field col s12 m4 l5">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="validate" />
            </div>
            <div class="input-field col s12 m4 l5">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" class="Apellido" />
            </div>
            <div class="input-field col s12 m4 l5">
                <label for="tel">Telefono</label>
                <input type="text" name="tel" id="tel" class="validate">
            </div>
            <div class="input-field col s12 m4 l5">
                <label for="direccion">Direccion</label>
                <input type="text" name="direccion" id="direccion" class="form-control" >
            </div>
            <div class="col s12 m4 l5">
                <button type="submit" class="btn light-blue"><i class="fas fa-save"></i> Aceptar</button>
            </div>

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/js/materialscript.js")
}