@model InmobiliariaViewModels.Clientes.ClienteInsertViewModels
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col s12 m12 l12">
        <h2 class="blue-text text-darken-1">Ingresar Cliente</h2>
        @using (Html.BeginForm("Create", "Cliente", FormMethod.Post))
        {
            <div class="input-field col s12 m4 l5">
                <input type="text" name="nombre" id="nombre" class="validate"/>
                <label for="nombre">Nombre</label>
            </div>

            <div class="input-field col s12 m4 l5">
                <input type="text" name="apellido" id="apellido" class="validate" />
                <label for="apellido">Apellido</label>
            </div>

            <div class="input-field col s12 m4 l5">
                <input type="text" name="dpi" id="dpi" class="validate" />
                <label for="dpi">Dpi</label>
            </div>

            <div class="input-field col s12 m4 l5">
                <input type="text" name="telefono" id="telefono" class="validate" />
                <label for="telefono">Telefono</label>
            </div>

            <div class="input-field col s12 m4 l5">
                <input type="text" name="fecha" id="fecha" class="datepicker" />
                <label for="fecha">Fecha</label>
            </div>


            <div class="input-field col s12 m4 l5">
                <select name="sexo" id="sexo">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
                <label for="sexo">Sexo</label>
            </div>
      
            <div class="input-field col s12 m4 l5">
                <input type="text" name="direccion" id="direccion" class="validate" />
                <label for="direccion">Direccion</label>
            </div>

            <div class="input-field col s12 m4 l5">
                <select name="estado" id="estado">
                    @foreach (var c in Model.estados)
                    {
                        <option value="@c.id">@c.estado</option>
                    }
                </select>
                <label for="estado">Estado</label>
            </div>

            <div class="input-field col s12 m4 l5">
                <button type="submit" class="btn light-blue"><i class="fas fa-save"></i> Guardar</button>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/js/materialscript.js")
}

