@{
    ViewBag.Title = "Calcular Cuotas";
}

<div class="row">
    <div class="col-lg-3">
        <div class="bs-component">
@using (Html.BeginForm("Details", "Cuota", FormMethod.Post))
{
    <fieldset>
        <legend>Calcular Cuotas</legend>

        <div class="form-group">
            <label class="col-form-label" for="cantidad">Cantidad</label>
            <input type="text" name="cantidad" class="form-control" id="cantidad" placeholder="Cantidad">
        </div>

        <div class="form-group">
            <label class="col-form-label" for="enganche">Enganche</label>
            <input type="text" name="enganche" class="form-control" id="enganche" placeholder="Cantidad">
        </div>

        <div class="form-group">
            <label class="col-form-label" for="interes">Interes</label>
            <select class="form-control" name="interes" id="interes">
                <option value="0.13">Perlas 13%</option>
                <option value="0.12">Refugio 12%</option>
                <option value="0.18">Condado 18%</option>
                <option value="0.10">America 10%</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Calcular</button>

    </fieldset>
}
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
