@model InmobiliariaViewModels.Lotes.EstadoLoteViewModels
@{
    ViewBag.Title = "Edit";
}


<div class="row">
    <div class="col s12 m12 l12">
        <h2 class="blue-text text-darken-1">Ingresar Estado Lote</h2>
        @using (Html.BeginForm("Edit", "EstadoLote", FormMethod.Post))
        {
            <div class="input-field col s12 m4 l5">
                <label for="estado">Estado</label>
                <input type="text" name="estado" id="estado" class="validate" value="@Model.estado"/>
            </div>
            <div class="col s12 m4 l5">
                <button type="submit" class="btn light-blue">Actualizar</button>
            </div>
        }
    </div>
</div>