@model InmobiliariaViewModels.Empleados.CargoEmpViewModels

@{
    ViewBag.Title = "Ingresar Cargo";
}

<div class="row">
    <div class="col s12 m12 l12">
        <h2 class="blue-text text-darken-1">Ingresar Cargo</h2>
        @using (Html.BeginForm("Create", "CargoEmp", FormMethod.Post))
        {
            <div class="col s12 m4 l5">
                <label for="Nombre">Nombre</label>
                <input type="text" id="nombrecargo" name="nombrecargo" class="validate">
            </div>
                <div class="col s12 m4 l5">
                    <button type="submit" class="btn light-blue"><i class="fas fa-save"></i>Guardar</button>
                </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/js/materialscript.js")
}