@model List<InmobiliariaViewModels.Empleados.EstadoEmpViewModels>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col s12 m12 l12">
        <h4 id="tables" class="text-center blue-text text-darken-1">Tabla Estado de Empleados</h4>
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th scope="col">Nombre Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="col">@item.nestado</td>
                        <td>
                            <a href="@Url.Action("Delete", "EstadoEmp")/@item.id" class="btn-small red"><i class="fas fa-trash"></i>Eliminar</a>
                            <a href="@Url.Action("Edit", "EstadoEmp")/@item.id" class="btn-small orange"><i class="fas fa-edit"></i>Modificar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>