@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline my-2 my-lg-0" }))
    {
    @Html.AntiForgeryToken()
        
    <li class="nav-item">
        @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", new { area = "" }, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Cerrar sesión</a>
    </li>
    }
}
else
{
    <li class="nav-item">
        @Html.ActionLink("Registrarse", "Register", "Account", new { area = "" }, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Iniciar sesión", "Login", "Account", new { area = "" }, new { @class = "nav-link" })
    </li>
}
