@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li><a class="modal-trigger" href="#modalLogout">Salir</a></li>
}
else
{
    <li>
        @Html.ActionLink("Registrarse", "Register", "Account")
    </li>
    <li>
        @Html.ActionLink("Iniciar sesión", "Login", "Account")
    </li>
}